.form {
  &__field {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    @include font(600, 11px, 1.36, 0.1em);
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);

    .form__input:focus + & {
      color: white;
      top: -100%;
    }

    .form__textarea:focus + & {
      color: white;
      top: -30px;
    }
  }

  &__input {
    width: 100%;
    height: 24px;
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: white;
    }
  }

  &__textarea {
    width: 100%;
    height: 76px;
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: none;
    resize: none;
  }
}
