:root {
  --title-color-light: #ffff;
  --title-color-dark: #303030;
  --pre-title-color-light: rgba(157, 164, 189, 0.6);
  --pre-title-color-dark: #303030;
  --text-color-dark: #555555;
  --text-color-light: #9da4bd;
  --accent-color: #ff6c00;
}
